@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

input,
button {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:root {
  font-family: "Ancizar Sans", sans-serif;
  --color-background-1: 248, 248, 248;
  --color-background-2: 240, 240, 240;

  --color-foreground: 24, 25, 30;
  --color-contrast: 153, 178, 221;

  background-color: rgb(var(--color-background-1));
  color: rgb(var(--color-foreground))
}
